article {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 2vw;
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
  box-shadow: 10px 4px 10px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 10px;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

article:hover {
  transform: scale(1.10) translateZ(0);
}

article img {
  width: 100%
}
article p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
article p:last-of-type {
  padding-left: 1rem;
}
article p:last-of-type:hover {
  color: peru;
}
.article-button {
  margin: .2rem .1vw;
}

button {
  border-radius: 15px;
  
}